In [50]:
import psycopg2
from sqlalchemy import create_engine
from configparser import ConfigParser
import pandas as pd

In [49]:
def config(filename='../database.ini', section='postgresql'):
    # create a parser
    parser = ConfigParser()
    # read config file
    parser.read(filename)

    # get section, default to postgresql
    db = {}
    if parser.has_section(section):
        params = parser.items(section)
        for param in params:
            db[param[0]] = param[1]
    else:
        raise Exception('Section {0} not found in the {1} file'.format(section, filename))

    return db

In [51]:
config()

{'host': '146.185.242.115',
 'database': 'gpb_news_external',
 'user': 'user',
 'password': 'Libertine4335!!!'}

In [66]:
# conn = psycopg2.connect("host=146.185.242.115 dbname=gpb_news_external user=user password=Libertine4335!!!")

db_config = config()
conn = psycopg2.connect(**db_config)

In [67]:
cur = conn.cursor()

In [68]:
cur.execute("CREATE TABLE test (id serial PRIMARY KEY, num integer, data varchar);")

In [69]:
cur.execute("INSERT INTO test (num, data) VALUES (%s, %s)", (100, "abc'def"))

In [70]:
cur.execute("SELECT * FROM test;")
cur.fetchone()

(1, 100, "abc'def")

In [77]:
cur.execute('SELECT version()')
cur.fetchone()

('PostgreSQL 14.6 on x86_64-pc-linux-gnu, compiled by gcc (GCC) 8.5.0 20210514 (Red Hat 8.5.0-15), 64-bit',)

In [72]:
cur.close()

In [73]:
cur = conn.cursor()

id	channel_id	channel_name	date	text

In [82]:
query = \
"""
CREATE TABLE telegram_news (
        id BIGINT,
        channel_id INTEGER,
        channel_name VARCHAR(255),
        date VARCHAR(255),
        text TEXT
)
"""

In [83]:
cur.execute(query)

In [88]:
# cur.execute('DROP TABLE test')

In [87]:
cur.execute("""SELECT table_name FROM information_schema.tables
       WHERE table_schema = 'public'""")
for table in cur.fetchall():
    print(table)

('telegram_news',)

In [92]:
df = pd.read_json('../output/bbcrussian.json')
df

,id,channel_id,channel_name,date,text
0,38814,1003921752,bbcrussian,2022-12-12 14:00:19+00:00,–°—É–¥ –≤ –ú–æ—Å–∫–≤–µ –ø—Ä–∏–≥–æ–≤–æ—Ä–∏–ª –º—É–Ω–∏—Ü–∏–ø–∞–ª—å–Ω–æ–≥–æ –¥–µ–ø—É—Ç–∞—Ç...
1,38813,1003921752,bbcrussian,2022-12-12 13:52:35+00:00,–°–∞–Ω–∫—Ü–∏–∏ –ï–°: –≤—Å–µ —É–ø–∏—Ä–∞–µ—Ç—Å—è –≤ –í–µ–Ω–≥—Ä–∏—é\n\n–ß–∏–Ω–æ–≤–Ω–∏...
2,38812,1003921752,bbcrussian,2022-12-12 12:01:05+00:00,–ì–£–†: –†–æ—Å—Å–∏—è –ø—Ä–æ–∏–∑–≤–æ–¥–∏—Ç –æ–∫–æ–ª–æ 40 –Ω–æ–≤—ã—Ö —Ä–∞–∫–µ—Ç –≤ ...
3,38811,1003921752,bbcrussian,2022-12-12 11:49:46+00:00,–ú–í–î –†–æ—Å—Å–∏–∏ –æ–±—ä—è–≤–∏–ª–æ –≤ —Ñ–µ–¥–µ—Ä–∞–ª—å–Ω—ã–π —Ä–æ–∑—ã—Å–∫ –æ–¥–Ω–æ–≥...
4,38810,1003921752,bbcrussian,2022-12-12 11:34:35+00:00,–ü—É—Ç–∏–Ω –Ω–µ –±—É–¥–µ—Ç –¥–∞–≤–∞—Ç—å –±–æ–ª—å—à—É—é –ø—Ä–µ—Å—Å-–∫–æ–Ω—Ñ–µ—Ä–µ–Ω—Ü–∏...
...,...,...,...,...,...
1093,37699,1003921752,bbcrussian,2022-11-17 13:34:40+00:00,–ü—Ä–æ—Ç–µ—Å—Ç—É—é—â–∏—Ö –≤ –ò—Ä–∞–Ω–µ —Å—Ç–∞–ª–∏ –ø—Ä–∏–≥–æ–≤–∞—Ä–∏–≤–∞—Ç—å –∫ —Å–º–µ...
1094,37698,1003921752,bbcrussian,2022-11-17 13:25:47+00:00,–ú–æ–±–∏–ª–∏–∑–∞—Ü–∏–æ–Ω–Ω–∞—è —ç–∫–æ–Ω–æ–º–∏–∫–∞: —á—Ç–æ —ç—Ç–æ —Ç–∞–∫–æ–µ –∏ –Ω—É–∂...
1095,37697,1003921752,bbcrussian,2022-11-17 13:13:37+00:00,–û–∫—Ä—É–∂–Ω–æ–π —Å—É–¥ –ì–∞–∞–≥–∏ –∑–∞—á–∏—Ç—ã–≤–∞–µ—Ç —Å–≤–æ–µ —Ä–µ—à–µ–Ω–∏–µ –ø–æ ...
1096,37696,1003921752,bbcrussian,2022-11-17 13:10:50+00:00,üì∫ –ö–∞–∫ –º–æ–±–∏–ª–∏–∑–æ–≤–∞–Ω–Ω—ã–π –ø–µ—Ç–µ—Ä–±—É—Ä–∂–µ—Ü –ø—ã—Ç–∞–µ—Ç—Å—è –ø–µ—Ä...
1097,37695,1003921752,bbcrussian,2022-11-17 12:46:26+00:00,–°—É–¥ –ù–∏–¥–µ—Ä–ª–∞–Ω–¥–æ–≤ –Ω–∞—á–∏–Ω–∞–µ—Ç –æ–≥–ª–∞—à–µ–Ω–∏–µ –ø—Ä–∏–≥–æ–≤–æ—Ä–∞ –≤...

In [103]:
conn_string = 'postgresql://user:Libertine4335!!!@146.185.242.115/gpb_news_external'
db = create_engine(conn_string)
conn = db.connect()

db_config = config()
conn1 = psycopg2.connect(**db_config)

cursor = conn1.cursor()
  
# drop table if it already exists
cursor.execute('drop table if exists telegram_news')

query = \
"""
CREATE TABLE telegram_news (
        id BIGINT,
        channel_id INTEGER,
        channel_name VARCHAR(255),
        date VARCHAR(255),
        text TEXT
)
"""
  
cursor.execute(query)
  
# converting data to sql
df.to_sql('telegram_news', conn, if_exists='append')
  
# fetching all rows
sql1='''select * from telegram_news;'''
cursor.execute(sql1)
for i in cursor.fetchall():
    print(i)
  
conn1.commit()
conn1.close()