In [1]:
import pandas as pd
import os

In [2]:
news_files = os.listdir('../output/')
for file in news_files:
    news = pd.read_json('../output/' + file)
    display(news.head())
    print(file, news.shape)

,id,channel_id,channel_name,date,text
0,189127,1101170442,rian_ru,2022-12-19 10:35:48+00:00,–ú–∏–Ω–æ–±–æ—Ä–æ–Ω—ã –†–æ—Å—Å–∏–∏: –≤ –≤–æ–∑–¥—É—à–Ω–æ–º –ø—Ä–æ—Å—Ç—Ä–∞–Ω—Å—Ç–≤–µ –ë–µ...
1,189126,1101170442,rian_ru,2022-12-19 10:32:33+00:00,"Politico: –Ω–∞—Å—Ç—Ä–æ–π –ó–µ–ª–µ–Ω—Å–∫–æ–≥–æ, –Ω–µ –∂–µ–ª–∞—é—â–µ–≥–æ –≤–µ—Å..."
2,189125,1101170442,rian_ru,2022-12-19 10:31:15+00:00,–ë—Ä–∏—Ñ–∏–Ω–≥ –ú–∏–Ω–æ–±–æ—Ä–æ–Ω—ã –†–æ—Å—Å–∏–∏
3,189124,1101170442,rian_ru,2022-12-19 10:26:03+00:00,–ú–µ—Ä–æ–ø—Ä–∏—è—Ç–∏—è –ø–æ –ø—Ä–æ–≤–µ—Ä–∫–µ –±–æ–µ–≤–æ–π –≥–æ—Ç–æ–≤–Ω–æ—Å—Ç–∏ –≤ –±–µ...
4,189123,1101170442,rian_ru,2022-12-19 09:56:04+00:00,–§–¢–° –†–æ—Å—Å–∏–∏ –æ–∂–∏–¥–∞–µ—Ç —Ä–æ—Å—Ç–∞ —Ç–æ–≤–∞—Ä–æ–æ–±–æ—Ä–æ—Ç–∞ —Å –ö–∏—Ç–∞–µ...

rian_ru.json (1000, 5)

,id,channel_id,channel_name,date,text
0,1881,1606432449,nytimes,2022-12-19 01:59:15+00:00,Ukraine Says Russia Is Training Soldiers for P...
1,1880,1606432449,nytimes,2022-12-18 02:04:40+00:00,Putin Makes Rare Visit to Ukraine War Headquar...
2,1879,1606432449,nytimes,2022-12-17 14:06:55+00:00,Putin‚Äôs War: The Inside Story of a Catastrophe...
3,1878,1606432449,nytimes,2022-12-16 14:57:58+00:00,Missile strikes knock out heating systems in t...
4,1877,1606432449,nytimes,2022-12-15 22:52:58+00:00,"Russian forces shell Kherson, in the south, as..."

nytimes.json (1000, 5)

,id,channel_id,channel_name,date,text
0,75438,1036240821,meduzalive,2022-12-19 10:38:56+00:00,–í —Ç—Ä–µ—Ö –∏–∑ —Å–µ–º–∏ —Ä–∞–π–æ–Ω–∞—Ö –ö–∏–µ–≤—Å–∫–æ–π –æ–±–ª–∞—Å—Ç–∏ –æ—Ç–∫–ª—é—á...
1,75437,1036240821,meduzalive,2022-12-19 10:05:25+00:00,–ù–∞ —é—Ç—å—é–±–µ –≤—ã—à–µ–ª —Ñ–∏–ª—å–º –æ –º–∞—Å—Å–æ–≤–æ–º –≥–æ–ª–æ–¥–µ –≤–æ –≤—Ä–µ...
2,75436,1036240821,meduzalive,2022-12-19 09:47:01+00:00,–í –ë–µ–ª–≥–æ—Ä–æ–¥—Å–∫–æ–π –æ–±–ª–∞—Å—Ç–∏ –±–µ–∑ —Å–≤–µ—Ç–∞ –æ—Å—Ç–∞–ª–∏—Å—å 14 —Ç...
3,75435,1036240821,meduzalive,2022-12-19 09:37:49+00:00,
4,75434,1036240821,meduzalive,2022-12-19 09:37:49+00:00,

meduzalive.json (1099, 5)

,id,channel_id,channel_name,date,text
0,19847,1073531022,currenttime,2022-12-19 10:30:14+00:00,–í –ê–≤—Å—Ç—Ä–∏–∏ –∑–∞–¥–µ—Ä–∂–∞–ª–∏ —Å—ã–Ω–∞ –±—ã–≤—à–µ–≥–æ —Ä–æ—Å—Å–∏–π—Å–∫–æ–≥–æ –¥...
1,19846,1073531022,currenttime,2022-12-19 10:14:10+00:00,–°—É–¥ –≤ –°–µ–≤–∞—Å—Ç–æ–ø–æ–ª–µ –ø—Ä–∏–≥–æ–≤–æ—Ä–∏–ª –º–µ—Å—Ç–Ω–æ–≥–æ –∂–∏—Ç–µ–ª—è –∫...
2,19845,1073531022,currenttime,2022-12-19 09:57:56+00:00,–í –ü–µ—Ç–µ—Ä–±—É—Ä–≥–µ –Ω–∞ —à–∫–æ–ª—å–Ω–∏—Ü—É —Å–æ—Å—Ç–∞–≤–∏–ª–∏ –ø—Ä–æ—Ç–æ–∫–æ–ª –∏...
3,19844,1073531022,currenttime,2022-12-19 09:23:17+00:00,"""–ü—Ä–æ–µ–∫—Ç"" –æ–ø—É–±–ª–∏–∫–æ–≤–∞–ª —Ä–∞—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏–µ –æ —Å–≤—è–∑–∏ –º—É–∂..."
4,19843,1073531022,currenttime,2022-12-19 08:00:13+00:00,"–í –ö–∞–∑–∞—Ö—Å—Ç–∞–Ω–µ –∑–∞–¥–µ—Ä–∂–∞–ª–∏ –∂—É—Ä–Ω–∞–ª–∏—Å—Ç–∞ –≥–∞–∑–µ—Ç—ã ""–í—Ä–µ–º..."

currenttime.json (1000, 5)

,id,channel_id,channel_name,date,text
0,38900,1376815011,novaya_pishet,2022-12-19 10:22:28+00:00,"–°–∫–æ–ª—å–∫–æ –ª—é–¥–µ–π –∂–∏–≤–µ—Ç –≤ –†–æ—Å—Å–∏–∏ –Ω–∞ —Å–∞–º–æ–º –¥–µ–ª–µ, —Å–∫..."
1,38899,1376815011,novaya_pishet,2022-12-19 09:19:47+00:00,"–†–æ—Å—Å–∏–π—Å–∫–∞—è —ç–∫–æ–Ω–æ–º–∏–∫–∞, –ø–æ –æ—Ñ–∏—Ü–∏–∞–ª—å–Ω—ã–º –æ—Ü–µ–Ω–∫–∞–º, ..."
2,38898,1376815011,novaya_pishet,2022-12-19 08:18:48+00:00,üî• –ú—ã –≤—ã–ø—É—Å—Ç–∏–ª–∏ –∑–∞–∫–ª—é—á–∏—Ç–µ–ª—å–Ω—ã–π –Ω–æ–º–µ—Ä ¬´–ù–æ–≤–æ–π —Ä–∞—Å...
3,38897,1376815011,novaya_pishet,2022-12-17 16:53:35+00:00,"–ù–∞–∏–≤–Ω–æ–µ –ø—Ä–µ–¥–ø–æ–ª–æ–∂–µ–Ω–∏–µ, —á—Ç–æ –ï–≤—Ä–æ–ø–µ –º–æ–≥—É—Ç –±—ã—Ç—å –Ω..."
4,38896,1376815011,novaya_pishet,2022-12-17 16:07:13+00:00,–í–µ—Å—å –æ—Ç–æ–ø–∏—Ç–µ–ª—å–Ω—ã–π –ø–µ—Ä–∏–æ–¥ —É –∂–∏–ª—å—Ü–æ–≤ –ö—Ä–∏–≤–æ—à–ª—ã–∫–æ–≤...

novaya_pishet.json (1097, 5)

,id,channel_id,channel_name,date,text
0,39132,1003921752,bbcrussian,2022-12-19 10:46:30+00:00,–í–æ–µ–Ω–Ω—ã–π –∫–æ—Ä–∞–±–ª—å –ö–æ—Ä–æ–ª–µ–≤—Å–∫–∏—Ö –≤–æ–µ–Ω–Ω–æ-–º–æ—Ä—Å–∫–∏—Ö —Å–∏–ª...
1,39131,1003921752,bbcrussian,2022-12-19 10:25:37+00:00,
2,39130,1003921752,bbcrussian,2022-12-19 10:25:37+00:00,
3,39129,1003921752,bbcrussian,2022-12-19 10:25:36+00:00,
4,39128,1003921752,bbcrussian,2022-12-19 10:25:36+00:00,

bbcrussian.json (1000, 5)

,id,channel_id,channel_name,date,text
0,37757,1124038902,varlamov_news,2022-12-19 10:41:51+00:00,–° –Ω–∞—á–∞–ª–∞ –¥–µ–π—Å—Ç–≤–∏—è —Ä–µ–∂–∏–º–∞ –ø–∞—Ä–∞–ª–ª–µ–ª—å–Ω–æ–≥–æ –∏–º–ø–æ—Ä—Ç–∞...
1,37756,1124038902,varlamov_news,2022-12-19 10:27:26+00:00,–ú–∏–Ω–æ–±–æ—Ä–æ–Ω—ã –ë–µ–ª–æ—Ä—É—Å—Å–∏–∏ –æ–±—ä—è–≤–∏–ª–æ –æ –∑–∞–≤–µ—Ä—à–µ–Ω–∏–∏ –ø—Ä...
2,37755,1124038902,varlamov_news,2022-12-19 08:58:43+00:00,–ò–∑-–∑–∞ —Ç—É—Ä–±—É–ª–µ–Ω—Ç–Ω–æ—Å—Ç–∏ –Ω–∞ –±–æ—Ä—Ç—É —Å–∞–º–æ–ª–µ—Ç–∞ –∫–æ–º–ø–∞–Ω–∏...
3,37754,1124038902,varlamov_news,2022-12-19 08:09:46+00:00,
4,37753,1124038902,varlamov_news,2022-12-19 08:09:46+00:00,–ù–∞ –î–≤–æ—Ä—Ü–æ–≤–æ–π –ø–ª–æ—â–∞–¥–∏ —á–∞—Å—Ç–∏—á–Ω–æ —Ä–∞–∑–æ–±—Ä–∞–ª–∏ –∏–Ω—Å—Ç–∞–ª...

varlamov_news.json (1000, 5)

In [5]:
bbc_news = pd.read_json('../output/bbcrussian.json')

In [6]:
bbc_news.head()

,id,channel_id,channel_name,date,text
0,29361,1003921752,bbcrussian,2022-05-30 14:28:22+00:00,–ì–ª–∞–≤–Ω–æ–µ –∫ —ç—Ç–æ–º—É —á–∞—Å—É\n \nüîª–í –£–∫—Ä–∞–∏–Ω–µ - —Ä–∞–Ω–Ω–∏–π –≤...
1,29360,1003921752,bbcrussian,2022-05-30 14:08:44+00:00,–ú–∏–Ω–æ–±–æ—Ä–æ–Ω—ã –£–∫—Ä–∞–∏–Ω—ã: —Ä–æ—Å—Å–∏–π—Å–∫–∏–µ –≤–æ–π—Å–∫–∞ –ø—ã—Ç–∞—é—Ç—Å—è...
2,29359,1003921752,bbcrussian,2022-05-30 13:49:45+00:00,"–í –ë–µ–ª–≥–æ—Ä–æ–¥—Å–∫–æ–π –æ–±–ª–∞—Å—Ç–∏ ""–ö–∞–º–ê–ó"" –Ω–∞–µ—Ö–∞–ª –Ω–∞ –ª–µ–≥–∫–æ..."
3,29358,1003921752,bbcrussian,2022-05-30 13:37:11+00:00,Netflix –ø–æ–¥—Ç–≤–µ—Ä–¥–∏–ª –æ—Ç–∫–ª—é—á–µ–Ω–∏–µ —Å–µ—Ä–≤–∏—Å–∞ –¥–ª—è –ø–æ–ª—å...
4,29357,1003921752,bbcrussian,2022-05-30 13:14:47+00:00,–§—Ä–∞–Ω—Ü—É–∑—Å–∫–∏–π –∂—É—Ä–Ω–∞–ª–∏—Å—Ç —É–±–∏—Ç –ø—Ä–∏ –æ–±—Å—Ç—Ä–µ–ª–µ —ç–≤–∞–∫—É–∞...

In [10]:
# News lengths statistics
bbc_news.text.apply(lambda x: len(x.split())).describe()

count    1095.000000
mean      118.310502
std        85.235444
min         0.000000
25%        63.500000
50%        99.000000
75%       154.000000
max       597.000000
Name: text, dtype: float64

In [9]:
# Empty text - highly likely to be a deleted post
bbc_news[bbc_news['text'].apply(len) == 0]

         id  channel_id channel_name                      date text
142   29219  1003921752   bbcrussian 2022-05-27 10:15:45+00:00
260   29099  1003921752   bbcrussian 2022-05-25 10:45:38+00:00
261   29098  1003921752   bbcrussian 2022-05-25 10:45:38+00:00
317   29039  1003921752   bbcrussian 2022-05-24 09:43:01+00:00
330   29024  1003921752   bbcrussian 2022-05-24 06:32:01+00:00
400   28954  1003921752   bbcrussian 2022-05-22 18:48:26+00:00
401   28953  1003921752   bbcrussian 2022-05-22 18:48:25+00:00
402   28952  1003921752   bbcrussian 2022-05-22 18:48:25+00:00
473   28879  1003921752   bbcrussian 2022-05-20 23:58:22+00:00
474   28878  1003921752   bbcrussian 2022-05-20 23:58:21+00:00
575   28776  1003921752   bbcrussian 2022-05-19 10:21:58+00:00
580   28771  1003921752   bbcrussian 2022-05-19 10:05:26+00:00
606   28745  1003921752   bbcrussian 2022-05-18 20:33:19+00:00
607   28744  1003921752   bbcrussian 2022-05-18 20:33:18+00:00
655   28695  1003921752   bbcrussian 2022-05-18 10:34:05+00:00
656   28694  1003921752   bbcrussian 2022-05-18 10:34:04+00:00
715   28634  1003921752   bbcrussian 2022-05-17 11:06:23+00:00
716   28633  1003921752   bbcrussian 2022-05-17 11:06:23+00:00
747   28602  1003921752   bbcrussian 2022-05-16 20:05:19+00:00
748   28601  1003921752   bbcrussian 2022-05-16 20:05:18+00:00
769   28580  1003921752   bbcrussian 2022-05-16 14:44:01+00:00
784   28565  1003921752   bbcrussian 2022-05-16 10:48:50+00:00
785   28564  1003921752   bbcrussian 2022-05-16 10:48:50+00:00
786   28563  1003921752   bbcrussian 2022-05-16 10:48:50+00:00
787   28562  1003921752   bbcrussian 2022-05-16 10:48:50+00:00
794   28555  1003921752   bbcrussian 2022-05-16 08:37:27+00:00
824   28525  1003921752   bbcrussian 2022-05-15 11:17:56+00:00
825   28524  1003921752   bbcrussian 2022-05-15 11:17:55+00:00
922   28425  1003921752   bbcrussian 2022-05-13 07:54:59+00:00
948   28399  1003921752   bbcrussian 2022-05-12 18:43:50+00:00
984   28363  1003921752   bbcrussian 2022-05-12 04:52:04+00:00
985   28362  1003921752   bbcrussian 2022-05-12 04:52:03+00:00
1018  28328  1003921752   bbcrussian 2022-05-11 11:35:19+00:00
1019  28327  1003921752   bbcrussian 2022-05-11 11:35:18+00:00
1020  28326  1003921752   bbcrussian 2022-05-11 11:35:18+00:00
1021  28325  1003921752   bbcrussian 2022-05-11 11:35:18+00:00
1084  28262  1003921752   bbcrussian 2022-05-10 08:51:23+00:00
1085  28261  1003921752   bbcrussian 2022-05-10 08:51:23+00:00
1086  28260  1003921752   bbcrussian 2022-05-10 08:51:22+00:00
1092  28254  1003921752   bbcrussian 2022-05-10 07:20:00+00:00
1094  28252  1003921752   bbcrussian 2022-05-10 06:42:50+00:00